<table id="<%= dom_id(project) %>" class="project-table_project">
	<tbody>
		<tr>
			<span class="project-list_project-name">
				<td><h2><%= project.name %></h2></td>
			</span>
			<td><%= link_to '<span class="far fa-edit"></span>'.html_safe, edit_project_path(project), class: "link", remote: true %></td>
			<td><%= link_to '<span class="far fa-trash-alt"></span>'.html_safe, project, method: :delete, data: { confirm: 'Are you sure?1' },
				remote: true, class: 'delete_project ml-3' %></td>
		</tr>
	</tbody>
</table>