<p id="notice"><%= notice %></p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<h1>TESTING LOGIC 1</h1> 	<!-- TESTING LOGIC 1 -->

<br> 											<!-- TESTING LOGIC 1 DELETE ALL BELOW IF WENT SOUTH! -->

<div id="projects">
	<%= render @projects %>
</div>

<br>

<div id="create_project">
	<%= render 'form', project: @project %>
</div>

<br>
 											<!-- TESTING LOGIC 1 DELETE ALL ABOVE IF WENT SOUTH! -->
<h1>Projects</h1>
<br>

<%= link_to 'New Project', new_project_path %>