.link {
    color: #007bff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: #0056b3;
    }
  }

.delete_task {
  color: #007bff;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: #0056b3;
  }
}