.task-list {
    list-style: none;
    padding: 0;
    //width: 100%;
  }
  
  .task-list--completed {
    .task-list__task {
      color: #666;
      font-size: 0.9em;
    }
    .task-list__task-name {
      text-decoration: line-through;
    }
  }
  
  .task-list--uncompleted {
    .task-list__task {
      box-sizing: border-box;
      padding: 7px;
      background: #f0f0f0;
      margin-bottom: 3px;
      border-radius: 2px;
      //width: 100%;
  
      &:hover {
        .task-list__task-controls {
          display: inline;
        }
      }
      .task-list__task-controls {
        display: none;
        float: right;
      }
    }
  }