.task-list {
    //list-style: none;
    //padding: 0;
    //width: 100%;
  }
  
  .task-list--completed {
    .task-list__task {
      color: #666;
      font-size: 0.9em;
    }
    .task-list__task-name {
      text-decoration: line-through;
      
      //grid-column: col 1;
    }
  }
  
  .task-list--uncompleted { 
    .list-group-item { //.list-group-item
      //box-sizing: border-box;
      //padding: 7px;
      //background: #f0f0f0;
      //margin-bottom: 3px;
      //border-radius: 2px;
      list-style-type: none;
      
  
      &:hover {
        .task-list__task-controls {
          display: inline;
        }
      }
      .task-list__task-controls {
        display: none;
        float: right;
      }

      .task-time {
        color: #d3d3d3;
      }

      .task-time.is-due {
        // color: #cc0000;
        color: rgba(255, 0, 0, 0.4);
      }
    }
  }